@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

:root {
  --main-color: #0b0d17;
  --text-main: #d0d6f9;
  --text-secondary: #ffffff;
  --belle-fair: "Bellefair", serif;
  --barlow: "Barlow Condensed", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-secondary);
  text-decoration: none;
}

h1 {
  font-family: var(--belle-fair);
  font-size: 150px;
  font-weight: 400;
  color: var(--text-secondary);
  text-transform: uppercase;
}

h2 {
  font-family: var(--belle-fair);
  font-size: 100px;
  font-weight: 400;
  color: var(--text-secondary);
  text-transform: uppercase;
}

h3 {
  font-family: var(--belle-fair);
  font-size: 56px;
  color: var(--text-secondary);
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-family: var(--belle-fair);
  font-size: 32px;
  color: var(--text-secondary);
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.5042;
}

h5 {
  font-family: var(--barlow);
  font-size: 28px;
  letter-spacing: 4.75px;
  color: var(--text-main);
  text-transform: uppercase;
}

h6{
  font-family: var(--barlow);
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--text-main);
  text-transform: uppercase;
  font-weight: 400;
}

p {
  color: var(--text-secondary);
  font-family: var(--barlow);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

span.subtitle {
  color: var(--text-main);
  font-family: var(--barlow);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
}

p.desc {
  font-family: var(--belle-fair);
  color: var(--text-secondary);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.nav-text {
  color: var(--text-secondary);
  font-family: var(--barlow);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

button.main-btn {
  color: var(--main-color);
  font-family: var(--belle-fair);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

body#home {
  background-image: url(./assets/home/background-home-desktop.jpg);
}

body#planet {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
}

body#crews {
  background-image: url(./assets/crew/background-crew-desktop.jpg);
}

body#technology{
  background-image: url(./assets/technology/background-technology-desktop.jpg);
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 20px;
}

header .icon {
  width: 48px;
  height: 48px;
  margin-left: 55px;
}

header nav {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  min-width: 830px;
  position: relative;
  text-transform: uppercase;
}

header nav .line {
  position: absolute;
  top: 50%;
  left: -400px;
  width: 450px;
  height: 1px;
  background-color: var(--text-secondary);
  opacity: 0.2515;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul {
  column-gap: 50px;
  height: 100%;
}

nav ul li {
  padding: 38px 0;
  display: flex;
  column-gap: 12px;
}

nav ul li:last-child {
  margin-right: 40px;
}

#crews nav ul{
  margin-bottom: 20px;
}

header nav .nav-number {
  font-weight: 700;
}

nav ul li:hover {
  cursor: pointer;
  padding: 36px 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease;
}

header nav ul li.nav-active {
  padding: 36px 0;
  border-bottom: 3px solid var(--text-secondary);
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0 160px;
  height: 100%;
  position: relative;
  width: 100%;
  margin-top: 100px;
}

#planet main {
  column-gap: 400px;
}

#crews main {
  column-gap: 200px;
  flex-direction: row;
}


.crew {
  margin-bottom: -100px;
}

#home main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 160px;
  height: 100%;
  position: relative;
  column-gap: 600px;
}

main .main-text {
  width: 445px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
}

#crews main .main-text {
  width: 500px;
}

#technology main{
  flex-direction: column;
  align-items: flex-start;
  row-gap: 26px;
  padding: 0 0 0 300px;
}

#technology .main-text{
  width: 630px;
  flex-direction: row-reverse;
}

main .main-text p {
  color: var(--text-main);
  letter-spacing: 1.6px;
}

#technology .extra-container{
  display:flex;
  align-items: center;
  column-gap: 110px;
}

main .planet-desc {
  margin-bottom: 30px;
}

main .crews-desc {
  margin-bottom: 50px;
  width: 450px;
}

main .tech-desc {
  margin-bottom: 0px;
  width: 450px;
}

button.main-btn {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border: none;
  flex-shrink: 0;
}

button:focus {
  outline: none;
}

button.main-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1036);
  padding: 88px;
  transition: 0.6s ease;
  opacity: 0;
}

button.main-btn:hover::before {
  opacity: 1;
}

.planet-container {
  display: flex;
  flex-direction: column;
  row-gap: 97px;
}

main .main-text ul li {
  color: var(--text-main);
  margin-right: 35px;
  padding: 15px 0;
}

main .main-text ul li a {
  color: var(--text-main);
}

main .main-text .divider {
  width: 100%;
  height: 1px;
  background-color: #383b4b;
  margin-bottom: 4px;
}

main nav ul li.nav-active {
  padding: 15px 0;
  border-bottom: 3px solid var(--text-secondary);
}

#crews main nav ul li.nav-active {
  border: none;
}

#crews main nav ul li.nav-active .fa-circle {
  color: var(--text-secondary);
  opacity: 1;
}

#crews main nav ul li .fa-circle {
  opacity: 0.175;
}

#crews main nav ul li:hover .fa-circle{
  opacity: 0.8;
}

#crews main nav ul li {
  padding: 0;
}

#technology h3{
  margin-bottom: 20px;
}

#technology main nav ul{
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 32px;
  margin-right: 80px;
}

#technology h6{
  margin-bottom: 12px;
}

#technology main nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid var(--text-main);
  font-size: 32px;
  font-family: var(--belle-fair);
  background-color: rgba(11, 13, 23, 0.25);
  margin-right: 0;
}

#technology main nav ul li a{
  color: var(--text-main);
}

#technology main nav ul li:hover{
  background-color: var(--text-main);
}

#technology main nav ul li:hover a{
  color: var(--main-color);
}

#technology main nav ul li.nav-active{
  background-color: var(--text-secondary);
}

#technology main nav ul li.nav-active a{
  color: var(--main-color);
}

main nav ul li:hover {
  padding: 15px 0;
  border-bottom: 3px solid var(--text-secondary);
}

#crews main nav ul li:hover{
  border: none;
  padding: 0;
}

main .main-text .bottom-text {
  display: flex;
  width: 100%;
}

main .main-text .bottom-text .desc {
  color: var(--text-secondary);
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.planet {
  animation: rotatePlanet 60s linear infinite;
}

.planet-container h5 {
  display: flex;
  column-gap: 12px;
}

#technology h5{
  display: flex;
  column-gap: 12px;
  font-weight: 400;
}

#technology h5 span{
  opacity: 0.25;
}

.planet-container h5 span {
  font-weight: 700;
  opacity: 0.2474;
}

.crew-text-container h5 {
  letter-spacing: 4.725px;
  color: var(--text-secondary);
  margin-bottom: 80px;
}

.crew-text-container h5 span {
  margin-right: 20px;
  font-weight: 700;
  opacity: 0.25;
}

.d-none {
  display: none;
}

.main-btn:hover{
  animation: button 10s linear;
}

@keyframes rotatePlanet {
  to {
    transform: rotate(360deg);
  }
}

@keyframes button{
  to{
    transform: scale(0.5) rotate(9600deg);
    background-color: #0b0d17;
  }
}