/* WIDTH MEDIA QUERY */
@media (min-width: 1890px) {
  #technology main{
    padding: 0;
    justify-content: flex-start;
    align-items: center;
  }

  #technology h5{
    margin-left: -900px
  }
}


@media (max-width: 1540px) {
  #home main {
    justify-content: space-between;
    padding: 0 140px;
    column-gap: 0;
  }

  #planet main,
  #crews main {
    justify-content: space-between;
    padding: 0 130px;
    column-gap: 0;
  }

  #technology main{
    padding: 0 0 0 160px;
  }
}

@media (max-width: 1540px) {
  #technology main{
    padding: 0;
  }
  #technology main h5{
    padding: 0 0 0 160px;
  }
  #technology .extra-container{
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between;
  }

  #technology .main-text{
    width: 580px;
  }

  #technology main nav ul{
    margin-right: 30px;
  }

  header nav .line {
    display: none;
  }
}

@media (max-width: 1124px) {
  body{
    padding-top: 50px;
  }

  #home main {
    padding: 0 70px;
  }

  header{
    top: 0;
  }

  button.main-btn::before{
    padding: 40px;
  }

  #planet main,
  #crews main {
    justify-content: space-between;
    padding: 0 20px;
    column-gap: 0;
  }

  body#technology{
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }

  #technology main{
    margin-top: 0;
    align-items: flex-start;
  }

  #technology main h5{
    padding: 0;
  }

  #technology main h5{
    margin-left: 50px;
  }

  #technology .extra-container{
    flex-direction: column-reverse;
  }

  #vehicle img{
    content: url(./assets/technology/image-launch-vehicle-landscape.jpg);
    width: 100%;
  }
  #spaceport img{
    content: url(./assets/technology/image-spaceport-landscape.jpg);
    width: 100%;
  }
  #capsule img{
    content: url(./assets/technology/image-space-capsule-landscape.jpg);
    width: 100%;
  }

  .tech-container{
    width: 100%;
  }

  #technology .main-text{
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 40px;
  }

  #technology main nav ul{
    margin: 0;
    flex-direction: row;
   column-gap: 15px;
  }

  #technology main nav ul li{
    height: 60px;
    width: 60px;
    font-size: 24px;
  }

  #technology .tech-text-container{
    text-align: center;
  }



 h3{
  font-size: 40px;
 }

  main .main-text p{
    font-size: 16px;
  }
  
}

/* TABLET BREAKPOINT */

@media (max-width: 1024px) {
  body#home{
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
  body#planet{
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }
  h2{
    font-size: 80px;
  }
  h4{
    font-size: 24px;
  }
  h5{
    font-size: 20px;
    font-weight: 400;
  }
  .nav-text{
    text-transform: uppercase;
  }
  main{
    margin-top: 0;
  }
  #home main{
    flex-direction: column;
    row-gap: 80px;
  }
  main .main-text{
    align-items: center;
  }
  main .main-text p{
    text-align: center;
  }
  header .icon{
    margin-left: 40px;
  }
  header nav .nav-number{
    display: none;
  }
  header nav{
    min-width: 450px;
  }
  header nav ul{
    column-gap: 35px;
  }
  header nav .nav-text{
    font-size: 14px;
  }
  nav ul li:last-child{
    margin: 0;
  }
  button.main-btn{
    width: 242px;
    height: 242px;
  }
  #planet main{
    flex-direction: column-reverse;
  }
  #crews main{
    flex-direction: column;
    margin-top: 50px;
  }
  #planet .planet-container {
    row-gap: 40px;
    width: 100%;
  }
  #planet .planet-container img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  .planet-container h5{
    margin-left: 30px;
  }
  #planet main .main-text{
    max-width: 575px;
    width: 100%;
  }
  main .main-text{
    row-gap: 20px;
  }
  #crews nav ul{
    margin-bottom: 0px;
  }
  main .crews-desc{
    margin-bottom: 20px;
    line-height: 28px;
    font-weight: 400;
  }
  .crew-container{
    max-width: 420px;
  }
  .crew-container .crew{
    width: 100%;
    margin-bottom: 0px;
  }
  #crews main .main-text{
    width: 100%;
  }
  #crews main .main-text h5{
    margin-left: 50px;
    margin-bottom: 20px;
    align-self: flex-start;
  }
  #crews main .main-text nav ul{
    margin-bottom: 40px;
  }
  #crews main .main-text ul li{
    margin-right: 16px;
  }
  #crews main nav ul li a .fa-circle{
    height: 10px;
    width: 10px;
    font-size: 10px;
  }
  #technology .extra-container{
    margin: 0;
    width: 100%
  }

}

/* HEIGHT MEDIA QUERY */

@media (max-height: 720px) {
  .crew {
    height: 500px;
  }
}
